*.o
*.d
*.ko
*.obj
*.elf
*.eep
*.lss
*.ilk
*.map
*.exp
*.gch
*.pch
*.src

Leaf-Controllino/Controllino/Controllino/Debug/*
Leaf-Linux/.idea/*
Leaf-Linux/venv/*
Leaf-Linux/controllino_modbus_utils/__pycache__/*
Info/Equipment Manuals/DL-10/DCON_Utility_Pro_PC/*
