[Unit]
Description=Fluence Modbus Server service
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=3
ExecStart=/usr/local/bin/fluence_modbus-server.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
