[Unit]
Description=Fluence IP Tables service
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=3
ExecStart=/usr/local/bin/fluence_iptables.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
